@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300;400;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'JetBrains Mono', monospace;
  line-height: 1.5;
  font-weight: 400;
  
  color: #000000;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
  
  ::-webkit-scrollbar {
    width: 0.25rem;
  }

  button {
    border-color: #7D7D7D;
  }

  html {
    color: #312b2b;
  }
  
  /* Track color */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle color */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }

  /* to control lazy load element transition */
  .LazyLoad {
    opacity: 0;
    transition: all 1s ease-in-out;
  }
  
  .is-visible {
    opacity: 1;
  }